@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --font-family: 'Red Hat Display', sans-serif;
    --bs-primary: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-dark: #212529;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-700: #495057;
    --bs-light: #f8f9fa;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-gradient-a: linear-gradient(to right, rgba(255, 24, 110, 1) 0%, rgba(255, 109, 49, 1) 100%);

}

/*----------------------------------------
=================== assets coman =================
-----------------------------------------*/
*,
:after,
:before {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus,
    &:focus-visible {
        outline: unset;
    }
}

h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 55px;

    span {
        color: var(--primary-color);
        font-weight: 700;
    }
}

h2 {
    font-size: 25px;
    font-weight: 600;
    color: var(--white-color);
}

h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

h3 span {
    color: var(--primary-color);
    font-weight: 600;
}

h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

h5 {
    font-size: 25px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


body {
    direction: ltr;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    padding: 0 15px;
}

.btn {
    &.btn-primary {}

    &.btn-secondary {}

    &.btn-o-primary {}

    &.btn-o-secondary {}

    &.btn-r-primary {}

    &.btn-r-secondary {}
}



.btn-primary {
    width: 150px;
    height: 48px;
    background-color: var(--bs-red);
    color: var(--bs-white);
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 0px 0px 4px #b52222;
}

.btn-o-primary {
    width: 150px;
    height: 48px;
    background-color: transparent;
    color: var(--bs-red);
    border: 1px solid #dc3545;
    border-radius: 6px;
    font-size: 18px;
}

.btn-r-primary {
    width: 150px;
    height: 48px;
    background: linear-gradient(to right,
            rgba(255, 24, 110, 1) 0%,
            rgba(255, 109, 49, 1) 100%);
    color: var(--bs-white);
    border: 1px solid transparent;
    border-radius: 36px;
    font-size: 18px;
}

.btn-secondary {
    width: 150px;
    height: 48px;
    background-color: var(--bs-red);
    color: var(--bs-white);
    border: 1px solid transparent;
    font-size: 18px;
}

.btn-o-secondary {
    width: 150px;
    height: 48px;
    background-color: transparent;
    color: var(--bs-red);
    border: 1px solid #dc3545;
    font-size: 18px;
}

.btn-r-secondary {
    width: 150px;
    height: 48px;
    background: linear-gradient(to right,
            rgba(255, 24, 110, 1) 0%,
            rgba(255, 109, 49, 1) 100%);
    color: var(--bs-white);
    border: 1px solid transparent;
    border-radius: 36px;
    font-size: 18px;
}

.btn-success {
    width: 150px;
    height: 48px;
    background-color: var(--bs-red);
    color: var(--bs-white);
    border: 1px solid transparent;
    border-radius: 36px;
    font-size: 18px;
}

.btn-o-success {
    width: 150px;
    height: 48px;
    background-color: transparent;
    color: var(--bs-red);
    border: 1px solid #dc3545;
    border-radius: 36px;
    font-size: 18px;
}

.btn-cart {
    width: 150px;
    height: 48px;
    background-color: #dc354536;
    color: var(--bs-red);
    border: 1px solid transparent;
    border-radius: 20px 6px 0px 0px;
    font-size: 18px;
    box-shadow: 0px 0px 4px #b52222;
}